{% extends "base.html" %}
{% block title %} Resultado {% endblock %}
{% block content %}
<div class="col-lg-6">
	<div class="well panel panel-danger sombra">
	  <div class="panel-heading">
	    <h2 class="panel-title"><span class="glyphicon glyphicon-education"></span>Información del Alumno</h2>
	  </div>

	  <div class="panel-body">
	  	<ul class="list-group LETRAGRANDE">
	  		<div class="col-lg-12">
				<li class="list-group-item"><div class="MiniLabel"><span class="glyphicon glyphicon-user"></span> Nombre: </div> {{alumno.apellido}}, {{alumno.nombre}}</li>
			</div>
			<div class="col-lg-12">
				<li class="list-group-item"><div class="MiniLabel"><span class="glyphicon glyphicon-credit-card"></span> D.N.I: </div> {{alumno.dni}}</li>
			</div>
	  		<div class="col-lg-12">
				<li class="list-group-item"><div class="MiniLabel"><span class="glyphicon glyphicon-barcode"></span> Legajo: </div> {{alumno.legajo}}</li>
			</div>
<!-- 			<div class="col-lg-12">
				<li class="list-group-item"><div class="MiniLabel"><span class="glyphicon glyphicon-text-color"></span> Nombre: </div> {{alumno.nombre}}</li>
	  		</div> -->
	  	</ul>  	
	  </div>
	</div>
</div>

<div class="col-lg-6">
	<div class="well panel panel-danger sombra">
	  <div class="panel-heading">
	    <h3 class="panel-title"><span class="glyphicon glyphicon-inbox"></span>Ubicación de su Legajo</h3>
	  </div>
	  {% if cajon != 0 %}
		  <div class="panel-body">
		  	<div class="row">
			  	<ul class="list-group LETRAGRANDE">
			  		<div class="col-lg-12">
					<li class="list-group-item"><div class="MiniLabel"><span class="glyphicon glyphicon-map-marker"></span> Lugar: </div> {{lugar}}</li>
					</div>
					<div class="col-lg-12">
					<li class="list-group-item"><div class="MiniLabel"><span class="glyphicon glyphicon-align-justify"></span> Archivo: </div> {{archivo}}</li>
					</div>
					<div class="col-lg-12">
					<li class="list-group-item"><div class="MiniLabel"><span class="glyphicon glyphicon-object-align-left"></span> Cajón: </div> {{cajon}}</li>
			  		</div>
			  	</ul>
		    </div>
		  </div>
	  {% else %}

	  	<p>El Alumno no esta almacenado</p>
	  	
	  {% endif %}
	</div>    
</div>

<div class="container col-lg-12" style="margin-bottom: 30px">
	<div class="col-lg-3 col-sm-12 col-xs-12 col-md-12 LETRAGRANDE">
		<a style="width: 50%" class="btn btn-danger btn-lg" href="/home"><span class="glyphicon glyphicon-home"></span>Volver al Inicio</a>
	</div>
	<div class="col-lg-3 col-sm-12 col-xs-12 col-md-12 LETRAGRANDE">
		<a style="width: 50%" class="btn btn-danger btn-lg" href="/editar_alumno/{{alumno.id}}"><span class="glyphicon glyphicon-home"></span>Editar Alumno</a>
	</div>
	<div class="col-lg-3 col-sm-12 col-xs-12 col-md-12 LETRAGRANDE">
		<a style="width: 50%" class="btn btn-danger btn-lg" href="/borrar_alumno/{{alumno.id}}"><span class="glyphicon glyphicon-home"></span>Borrar Alumno</a>
	</div>
	{% if cajon != 0 %}
	<div class="col-lg-3 col-sm-12 col-xs-12 col-md-12 LETRAGRANDE">	
		<a style="width: 50%" class="btn btn-danger btn-lg" href="/mover_legajo_lugar/{{ alumno.id }}"><span class="glyphicon glyphicon-retweet"></span>Mover Legajo</a>
	</div>
	{% else %}
	<div class="col-lg-3 col-sm-12 col-xs-12 col-md-12 LETRAGRANDE">	
		<a style="width: 50%" class="btn btn-danger btn-lg" href="/almacenar_legajo_lugar/{{alumno.id}}"><span class="glyphicon glyphicon-retweet"></span>Almacenar Legajo</a>
	</div>

	{% endif %}
</div>


{% endblock %}