{% extends "base.html" %}

{% block content %}

<ul class="text-center LETRAGRANDE">
	<li><a class="btn btn-danger btn-lg" href="/home"> Home </a></li>
	<li><a class="btn btn-danger btn-lg" href="/busqueda_dni"> Busqueda por DNI </a></li>
	<li><a class="btn btn-danger btn-lg" href="/busqueda_apellido"> Busqueda por APELLIDO </a></li>
	<li><a class="btn btn-danger btn-lg" href="/busqueda_legajo"> Busqueda por LEGAJO </a></li>
	<li><a class="btn btn-danger btn-lg" href="/nuevo_alumno"> Nuevo Alumno </a></li>
	<li><a class="btn btn-danger btn-lg" href="/nuevo_archivo"> Nuevo Archivo </a></li>
	<li><a class="btn btn-danger btn-lg" href="/nuevo_lugar"> Nuevo Lugar </a></li>
	<li><a class="btn btn-danger btn-lg" href="/mover_legajo_lugar/292"> Mover Legajo </a></li>
	<li><a class="btn btn-danger btn-lg" href="/movimientos"> Movimientos </a></li>
	<li><a class="btn btn-danger btn-lg" href="#"> Courses </a></li>
</ul>

{% endblock %}