{% extends "base.html" %}

{% block content %}

<div class="col-lg-12">
	<div class="well panel panel-danger sombra">
	  <div class="panel-heading">
	    <h2 class="panel-title"><span class="glyphicon glyphicon-education"></span>Información del Alumno</h2>
	  </div>

	  <div class="panel-body">
	  	<ul class="list-group LETRAGRANDE">
	  		<div class="col-lg-12">
				<li class="list-group-item"><div class="MiniLabel"><span class="glyphicon glyphicon-user"></span> Nombre: </div> {{alumno.apellido}}, {{alumno.nombre}}</li>
			</div>
			<div class="col-lg-12">
				<li class="list-group-item"><div class="MiniLabel"><span class="glyphicon glyphicon-credit-card"></span> D.N.I: </div> {{alumno.dni}}</li>
			</div>
	  		<div class="col-lg-12">
				<li class="list-group-item"><div class="MiniLabel"><span class="glyphicon glyphicon-barcode"></span> Legajo: </div> {{alumno.legajo}}</li>
			</div>
	  	</ul>  	
	  </div>
	</div>
</div>

<div class="col-lg-4">
	<div class="well panel panel-danger sombra">
	  <div class="panel-heading">
	    <h3 class="panel-title"><span class="glyphicon glyphicon-inbox"></span>Origen</h3>
	  </div>

	  <div class="panel-body">
	  	<div class="row">
		  	<ul class="list-group LETRAGRANDE">
		  		<div class="col-lg-12">
				<li class="list-group-item"><div class="MiniLabel"><span class="glyphicon glyphicon-map-marker"></span> Lugar: </div> {{lugar_o}}</li>
				</div>
				<div class="col-lg-12">
				<li class="list-group-item"><div class="MiniLabel"><span class="glyphicon glyphicon-align-justify"></span> Archivo: </div> {{archivo_o}}</li>
				</div>
				<div class="col-lg-12">
				<li class="list-group-item"><div class="MiniLabel"><span class="glyphicon glyphicon-object-align-left"></span> Cajón: </div> {{cajon_o}}</li>
		  		</div>
		  	</ul>
	    </div>
	  </div>
	</div>    
</div>

<div class="col-lg-8">
	<div class="well panel panel-danger sombra">
	  <div class="panel-heading">
	    <h3 class="panel-title"><span class="glyphicon glyphicon-inbox"></span>Seleccione una ubicación para el cajón y presione siguiente</h3>
	  </div>

	  <div class="panel-body">
	  	<div class="row">
		  	<ul class="list-group LETRAGRANDE">

				<div class="col-lg-12">
				<li class="list-group-item"><div class="MiniLabel"><span class="glyphicon glyphicon-map-marker"></span> Lugar: </div> {{lugar_d}}</li>
				</div>

				<div class="col-lg-12">
				<li class="list-group-item"><div class="MiniLabel"><span class="glyphicon glyphicon-align-justify"></span> Archivo:</div> {{archivo_d}}</li>
		  		</div>

		  		<div class="col-lg-12">
					<li class="list-group-item">
						<div class="MiniLabel">
							<form action="/mover_legajo_cajon/{{ alumno.id }}/" method="POST">	
							{% csrf_token %}
								<div id="id_cajon">
									<span class="glyphicon glyphicon-object-align-left"></span>	
									{{ form_cajon }}
									<input type="submit" class= "btn btn-danger" value="Siguiente"/>
								</div>
							</form>
						</div>
					</li>
				</div>

		  	</ul>
	    </div>
	  </div>
	</div>    
</div>
		
{% endblock %}