{% extends "base.html" %}

{% block title %} Nuevo Lugar {% endblock %}
{% block content %}
<div style="text-align:center;">
<form action="/nuevo_lugar/" method="POST" style="text-align:center;">
	<!-- Etiqueta que sirve para identificar el formulario y mitigar ataques-->
	{% csrf_token %}
	{{ form_nuevo_lugar }}

	<input class="btn btn-danger btn-lg" type="submit" value="Guardar lugar">

</form>

<div class="container" style="margin-top: 10px;">
	<div class="panel panel-danger sombra">
	  <div class="panel-heading">
	  	<h2>Lugares</h2>
	  </div>
	<table class="table tabla-resultado">
		<tr class="danger">
		</tr>
		{% for lugar in lugares %}
		<tr>
			<th><p>{{ lugar.descripcion }}</p></th>
		<!--	<th><a id="BotonVer" href="/legajo/{{ alumno.id }}"> Editar</a></th>-->
			<th><a id="BotonVer" href="/lugar_borrar/{{ lugar.id }}"> Borrar</a></th>
		</tr>
		{% endfor %}
	</table>
	</div>
</div>
{% endblock %}