{% extends "base.html" %}
{% block title %} Nuevo Archivo {% endblock %}

{% block content %}
<div class="container" id="FormularioNuevoAlumno">
	<form action="/nuevo_archivo/" method="POST">
		
		{% csrf_token %}
		{{ form_nuevo_archivo.as_p }}

		<input class="btn btn-danger btn-lg" type="submit" value="GUARDAR DATOS"/>
	</form>

<div class="container" style="margin-top: 10px;">
	<div class="panel panel-danger sombra">
		<div class="panel-heading">
	  		<h2>Archivos</h2>
		</div>
	<div class="panel-body ">
		<div class="col-lg-4 col-lg-offset-4">
			<table class="table tabla-resultado">
				<tr class="danger">
					<th><h4>Lugar </h4></th>
					<th><h4>Archivo N°</h4></th>
					<th><h4></h4></th>
				</tr>
				{% for archivo in archivos %}
				<tr>
					<th><p>{{ archivo.lugar }}</p></th>
					<th><p>{{ archivo.numero }}</p></th>
				<!--<th><a id="BotonVer" href="/legajo/{{ alumno.id }}"> Editar</a></th>-->
					<th><a id="BotonVer" href="/archivo_borrar/{{ archivo.id }}"> Borrar</a></th>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
</div>

</div>
{% endblock %}